<mat-card>
  <h2>Add teams</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Team 1:" formControlName="team1" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Team 2:" formControlName="team2" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Team 3:" formControlName="team3" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Team 4:" formControlName="team4" />
    </mat-form-field>
    <p>
      Please add a minimum of 2 teams.
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
      save
    </button>
  </form>
</mat-card>

<div class="start">
  <p>Please be sure to save the above options before starting the game.</p>
  <button mat-raised-button routerLink="/jeopardy" routerLinkActive="router-link-active"  color="accent" [disabled]="!profileForm.valid">
    start jeopardy
  </button>

  </div>
